@import "./fonts/cairo-2-webfont/style.css";
@import "@tabler/icons-webfont/dist/tabler-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMachinaBold';
    src: url('./fonts/PPNeueMachina/PPNeueMachina-Ultrabold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMachina';
    src: url('./fonts/PPNeueMachina/PPNeueMachina-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.font-pp-neue-machina {
    font-family: "PPNeueMachina", "Cairo Bold", sans-serif;
    font-weight: normal;
}

.font-pp-neue-machina-bold {
    font-family: "PPNeueMachinaBold", "Cairo Bold", sans-serif;
    font-weight: bold;
}

*, html, body {
    font-family: 'Cairo Regular', sans-serif;
    font-weight: 500;
    @apply text-blue-950;
}

.font-inter {
    font-family: 'Inter', "Cairo Regular", sans-serif;
}

.font-cairo-regular {
    font-family: "Cairo Regular", sans-serif;
}

.button {
    @apply bg-gradient-to-r;
    @apply from-[#FF665D];
    @apply to-[#FD5437];
    @apply xl:px-6;
    @apply lg:px-6;
    @apply py-2;
    @apply rounded-full;
}

.btn-box-shadow {
    @apply transition;
    @apply duration-300;
}

.btn-box-shadow:hover {
    box-shadow: 0 4px 15px 0 #FF665DCC;
}

.heading-underline {
    position: relative;
}

.heading-underline::after {
    position: absolute;
    content: "";
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #a7df77, #67d380);
}

.heading-left-line {
    margin-left: 40px;
    position: relative;
}

.heading-left-line::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -45%;
    width: 40px;
    height: 2px;
    background: linear-gradient(to right, #FF665D, #FD5437);
}

.bg-primary {
    background: linear-gradient(to right, #FF665D, #FD5437);
}

/*.swiper-wrapper .swiper-slide.swiper-slide-active {
    @apply xl:ml-56;
    @apply lg:ml-56;
    @apply xl:pl-0;
    @apply lg:pl-0;
    @apply px-8;
}*/


.text-primary-gradient {
    @apply text-transparent;
    @apply bg-gradient-to-r;
    @apply from-[#FF665D];
    @apply to-[#FD5437];
    @apply bg-clip-text;
}

.wrapper {
    max-width: 1920px;
    @apply mx-auto;
}

.contain-container {
    width: 66%;
    @apply mx-auto;
}

#explore-podcast .swiper-wrapper .swiper-slide.swiper-slide-active {
    margin-left: 15.5%;
}

#event .swiper-wrapper .swiper-slide.swiper-slide-active {
    margin-left: 17%;
}

@media (max-width: 1340px) {
    .contain-container {
        width: 80%;
    }

    #explore-podcast .swiper-wrapper .swiper-slide.swiper-slide-active {
        margin-left: 7.5%;
    }


    #event .swiper-wrapper .swiper-slide.swiper-slide-active {
        margin-left: 10%;
    }
}

@media (max-width: 1024px) {
    .contain-container {
        width: 85%;
    }

    #explore-podcast .swiper-wrapper .swiper-slide.swiper-slide-active {
        margin-left: 0;
    }

    #explore-podcast .slide-container {
        width: 88%;
        margin: 0 auto;
    }

    #event .swiper-wrapper .swiper-slide.swiper-slide-active {
        margin-left: 0;
    }

    #event .up-coming-event-container {
        width: 85%;
        margin: 0 auto;
    }

    #latest-article .contain-container {
        width: 80%;
    }

}


@media (max-width: 767px) {
    .contain-container {
        width: 88%;
    }

    #explore-podcast .swiper-wrapper .swiper-slide.swiper-slide-active {
        margin-left: 0;
    }

    #explore-podcast .slide-container {
        width: 93%;
        margin: 0 auto;
    }


    #event .up-coming-event-container {
        width: 87.5%;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .contain-container {
        width: 95%;
    }


    #explore-podcast .swiper-wrapper .swiper-slide.swiper-slide-active {
        margin-left: 0;
    }


    #event .up-coming-event-container {
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 576px) {
    .contain-container {
        width: 85%;
    }


    #explore-podcast .swiper-wrapper .swiper-slide.swiper-slide-active {
        margin-left: 0;
    }


    #event .up-coming-event-container {
        width: 82%;
        margin: 0 auto;
    }
}

.cus-hero-bottom-part {
    @apply mx-auto;
    margin-bottom: -7%;
}


.hero-slide-image {
    @apply w-72;
    @apply w-72;
}

@media (max-width: 1336px) {
    .hero-slide-image {
        width: 240px;
    }
}
@media (max-width: 1136px) {
    .hero-slide-image {
        width: 220px;
    }
}
@media (max-width: 1024px) {
    .hero-slide-image {
        width: 240px;
    }
}
@media (max-width: 876px) {
    .hero-slide-image {
        width: 190px;
    }
}
@media (max-width: 776px) {
    .hero-slide-image {
        width: 210px;
    }
}
@media (max-width: 676px) {
    .hero-slide-image {
        width: 220px;
    }
}
@media (max-width: 576px) {
    .hero-slide-image {
        width: 160px;
    }
}
@media (max-width: 476px) {
    .hero-slide-image {
        width: 145px;
    }
}
@media (max-width: 376px) {
    .hero-slide-image {
        width: 120px;
    }
}

.first-item-clip-path {
    @apply lg:[clip-path:polygon(30%_0%,_70%_0%,_100%_0,_99%_50%,_100%_100%,_0_100%,_0_55%,_0_0);];
    @apply xl:[clip-path:polygon(30%_0%,_70%_0%,_100%_0,_99%_50%,_100%_100%,_0_100%,_0_55%,_0_0);];
    /*@apply md:[clip-path:polygon(50%_0%,_100%_0,_100%_100%,_50%_99%,_0_100%,_0_0);];
    @apply sm:[clip-path:polygon(50%_0%,_100%_0,_100%_100%,_50%_99%,_0_100%,_0_0);];*/
}

.second-item-clip-path {
    @apply lg:[clip-path:polygon(30%_0%,_70%_0%,_100%_0,_99%_50%,_100%_100%,_0_100%,_1%_50%,_0_0);];
    @apply xl:[clip-path:polygon(30%_0%,_70%_0%,_100%_0,_99%_50%,_100%_100%,_0_100%,_1%_50%,_0_0);];
    /*@apply md:[clip-path:polygon(50%_1%,_100%_0,_100%_100%,_50%_99%,_0_100%,_0_0);];
    @apply sm:[clip-path:polygon(50%_1%,_100%_0,_100%_100%,_50%_99%,_0_100%,_0_0);];*/
}

.third-item-clip-path {
    @apply xl:[clip-path:polygon(30%_0%,_100%_0,_100%_100%,_70%_100%,_0_100%,_1%_50%,_0_0);];
    @apply lg:[clip-path:polygon(30%_0%,_100%_0,_100%_100%,_70%_100%,_0_100%,_1%_50%,_0_0);];
    /*@apply md:[clip-path:polygon(50%_1%,_100%_0,_100%_100%,_0_100%,_0_0);];
    @apply sm:[clip-path:polygon(50%_1%,_100%_0,_100%_100%,_0_100%,_0_0);];*/
}

.stepper-border-top {
    @apply relative;
    @apply after:bg-gradient-to-b;
    @apply after:from-[#F7645C];
    @apply xl:after:w-0.5;
    @apply lg:after:w-0.5;

    @apply xl:after:h-full;
    @apply lg:after:h-full;

    @apply after:inline-block;
    @apply after:absolute;
    @apply after:top-0;
    @apply after:mt-3;
    @apply after:left-4;
    @apply xl:after:left-[5px];
    @apply lg:after:left-[5px];
}

@media (max-width: 1024px) {
    .stepper-border-top {
        @apply after:w-full;
        @apply after:h-0.5;
        @apply after:left-0;
        @apply pt-[0.5rem];
        @apply after:from-[#F7645C];
        @apply after:to-transparent;
        @apply after:to-70%;
    }
    .stepper-border-top {
        @apply after:w-full;
        @apply after:h-0.5;
        @apply after:left-0;
        @apply pt-[0.5rem];
        @apply after:from-[#F7645C];
        @apply after:to-transparent;
        @apply after:to-70%;
    }
}